  body {
      font-family:cursive;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100dvh;
  }

  form {
      border-radius: 20px;
      background-color: 0 ; background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      display: flex;
      flex-direction: column;
      padding: 3rem;
      width: 20dvw;
      gap: 25px;
  }
  .botao{
    border-radius: 20px;
    font-family:cursive;
    background-color: #cdfa84;
}
#consumo, #velocidade, #duracao{
    border-radius: 20px;
    font-family: cursive;
}
  section {
      display: flex;
      justify-content: space-between;
  }

  label:hover {
      cursor: pointer;
        }
    p{
    font-family:cursive;
    font-size: larger;
    }