  body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100dvh;
  }

  form {
      background-color:0 ; background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      padding: 3rem;
      width: 20dvw;
      gap: 25px;
  }

  section {
      display: flex;
      justify-content: space-between;
  }

  label:hover {
      cursor: pointer;
  }